/**
    VARIABLES
 */

:root {
    --primary-color: #0065FC;
    --secondary-color: #DEEBFF;
}

/**
    GLOBAL
 */
html {
    padding-left: 35px;
    padding-right: 35px;
}

body {
    width: 100%;
    max-width: 1400px;
    background-color: #fdfefd;
    margin: auto;
    font-family: Raleway, serif;
}

a {
    color: #000001;
    text-decoration: none;
}

p {
    margin: 0;
    font-size: 16px;
}

h2 {
    margin: 0 0 23px 0;
}

a:hover {
    color: var(--primary-color);
}

a.expanded::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

i.circle {
    flex-shrink: 0;
    position: relative;
    display: inline-block;
    border: 1px solid #d9d9d9;
    font-size: 10px;
    line-height: 12px;
    padding: 5px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    text-align: center;
    margin: 0 8px;
    top: -5px;
}

.text-primary {
    color: var(--primary-color);
}

.section-link {
    display: inline-block;
    margin-top: 2rem;
    font-weight: bold;
}

.with-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.with-icon i {
    font-size: 16px;
    vertical-align: baseline;
    line-height: 1.8rem;
}

/**
    HEADER
 */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-height: 19px;
    margin-top: 2px;
}

nav ul {
    height: 100%;
    display: flex;
    margin: 0;
    list-style-type: none;
}

nav li {
    position: relative;
    padding: 46px 25px;
    border-top: 2px solid transparent;
}

nav li:hover {
    border-color: var(--primary-color);
}

footer {

}

/**
    MAIN
 */

h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 8px;
}

/**
    SEARCH FORM
 */

form {
    margin-top: 26px;
    margin-bottom: 1em;
}

.input-group {
    display: flex;
    flex-direction: row;
}

.input-group label i {
    padding: 16px 18px;
    background-color: #f2f2f2;
    color: #000000;
    border-radius: 18px 0 0 18px;
    line-height: 23px;
    font-size: 20px;
}

.input-group input {
    border: 1px solid #f2f2f2;
    border-right: none;
    font-size: 18px;
    padding: 16px;
    font-weight: bold;
}

.input-group input:focus {
    outline: none;
}

.input-group button {
    padding: 16px 18px;
    background-color: var(--primary-color);
    color: #FFFFFF;
    border: none;
    border-radius: 0 18px 18px 0;
    font-size: 18px;
    font-weight: bold;
}

.input-group button i {
    display: none;
}

button[type=submit] {
    cursor: pointer;
}

.search-info {
    display: flex;
    flex-direction: row;
}

/**
    FILTERS
 */

.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2em;
}

.filters h2 {
    font-size: 18px;
    margin: initial;
}

.filters ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 30px;
}

.filters li {
    position: relative;
    border: 2px solid #d9d9d9;
    font-weight: bold;
    padding: 12px 16px;
    border-radius: 50px;
}

.filters li:hover {
    background-color: var(--secondary-color);
}

.filters li i {
    color: var(--primary-color);
    margin-right: 5px;
}


/**
    CARDS
 */

article {
    -webkit-box-shadow: 0 0 12px 0 #B3B3B3;
    box-shadow: 0 0 12px 0 #B3B3B3;
    border-radius: 20px;
    background-color: #fdfdfe;
    position: relative;
    display: flex;
}

.illustration img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center center;
}

article .informations {
    padding: 0 16px 8px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

article h3 {
    font-size: 16px;
    line-height: 19px;
    margin-top: 9px;
    margin-bottom: 9px;
}

article p {
    margin-bottom: 8px;
}

.rating {
    margin-top: auto;
    font-size: 12px;
}

.rating i {
    color: var(--primary-color);
}

/**
    SECTION RESULTATS
 */


#hosts {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-between;
    margin-top: 2em;
}
.results, .popular {
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 20px;
}

.popular > div {
    display: flex;
    flex-wrap: wrap;
    gap: 31px;
}

.results {
    width: 62%;
}

.results > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 31px;
    grid-row-gap: 31px;
}

.results article {
    min-width: 30%;
}

.popular {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.popular > div {
    height: 100%;
    flex-direction: column;
}

.popular article {
    flex: 1 1 0;
    height: 0;
}

.card-host-top {
    flex-direction: column;
}

.card-host-top .illustration {
    position: relative;
    height: 124px;
    margin: 5px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.card-host-left {
    flex-direction: row;
    padding-bottom: 0;
}

.card-host-left .illustration {
    position: relative;
    min-width: 40%;
    max-width: 40%;
    margin: 5px;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
    height: auto;
}

/**
    ACTIVITES
 */

#activities {
    margin-top: 60px;
}

#activities > div {
    display: flex;
    gap: 43px;
}

#activities article {
    flex: 1 1 0;
    width: 0;
    max-width: 22%;
}

.card-host-high {
    flex-direction: column;
}

.card-host-high .informations {
    padding: 20px;
}

.card-host-high .illustration {
    position: relative;
    height: 28vw;
    margin: 0;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

/**
    FOOTER
 */

footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    padding: 45px 70px;
    margin-top: 60px;
}

footer > * {
    flex: 1 1 0;
    width: 0;
}

footer h2 {
    font-size: 18px;
    font-weight: bold;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer li {
    font-size: 16px;
    margin-bottom: 12px;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .results {
        width: 50%;
    }
    .results > div {
        grid-template-columns: repeat(2, 1fr);
    }

    .popular {
        align-self: flex-start;
    }

    .popular article {
        flex: none;
        height: 12vw;
    }

    .card-host-left .illustration {
        max-width: 9vw;
        min-width: 9vw;
    }
}

@media (max-width: 992px) {
    p {
        font-size: 14px;
    }
    #hosts {
        flex-direction: column;
    }

    .results {
        width: initial;
    }

    .popular > div {
        flex-direction: row;
    }

    .popular article {
        height: initial;
    }

    .card-host-high .illustration {
        height: 22vw;
    }
}

@media (max-width: 768px) {
    html {
        padding: 0;
    }

    h2 {
        margin-bottom: 32px;
    }

    .section-link {
        display: none;
    }

    header {
        flex-direction: column;
        justify-content: center;
    }

    header img {
        margin-top: 20px;
    }

    nav {
        width: 100%;
    }

    nav ul {
        padding-left: 0;
    }

    nav li {
        flex: 1 1 0;
        text-align: center;
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
    }

    .input-group {
        justify-content: center;
    }

    .input-group input {
        flex-grow: 1;
        font-size: 0.9rem;
        padding: 9px;
        width: 0;
    }

    .input-group button span {
        display: none;
    }

    .input-group button i {
        display: inline;
    }

    .filters {
        flex-direction: column;
    }

    .filters ul {
        padding: 0;
        gap: 15px;
        justify-content: space-around;
        align-items: flex-start;
    }
    .filters li {
        /*flex: 1 1 100%;*/
        width: 34%;
        font-size: 11px;

    }
    #hosts {
        flex-direction: column-reverse;
        gap: 0;
    }

    #tools,
    .popular,
    .results,
    #activities {
        padding-left: 20px;
        padding-right: 20px;
    }

    .popular {
        border-radius: 0;
    }

    .popular .illustration {
        height: 137px;
    }

    .results {
        background-color: transparent;
    }

    .popular > div {
        flex-direction: column;
        gap: 18px;
    }

    .results > div {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 18px;
    }

    #activities > div {
        flex-direction: column;
        gap: 18px;
    }

    #activities {
        margin-top: 0;
    }

    #activities article {
        height: auto;
        width: auto;
        max-width: initial;
    }

    #activities .illustration {
        height: 154px;
    }

    footer {
        flex-direction: column;
        gap: 25px;
    }

    footer > * {
        width: initial;
    }
}